<!--Navigation top bar-->
<app-nav
(numberPerPageChange)='handleNumberPerPageChange($event)'
(orderByChange)='handleOrderByChange($event)'
[hideSortExpensesHeader]='hideSortExpensesHeader'>
</app-nav>

<!--Spinner on loading-->
<div *ngIf='isLoading' class='spinner-container'>
  <app-spinner></app-spinner>
</div>

<!--Page content-->
<app-expenses-list 
*ngIf='expenseItems && isLoading===false'
[expenseItems]='expenseItems'
(passUpdateExpenseListOnListChange)='updateExpenseListOnListChange($event)'>
</app-expenses-list>

