<!--Navigation top bar-->
<app-nav
(numberPerPageChange)='handleNumberPerPageChange($event)'
(orderByChange)='handleOrderByChange($event)'
[hideSortExpensesHeader]='hideSortExpensesHeader'
(changeLanguage)='switchLang($event)'>
</app-nav>

<!--Spinner on loading-->
<div *ngIf='isLoading' class='spinner-container'>
  <app-spinner
  [height]='spinnerHeight'
  [width]='spinnerWidth'>
  </app-spinner>
</div>

<!--Error-->
<div *ngIf='isError' class='error-container'>
  <p>{{'error' | translate}}</p>
</div>

<!--Page content-->
<app-expenses-list 
*ngIf='expenseItems && isLoading===false'
[expenseItems]='expenseItems'
(passUpdateExpenseListOnListChange)='updateExpenseListOnListChange()'>
</app-expenses-list>

