.main-content {
  position:relative;
  top: 7.8em;
  overflow-y: scroll;
}
/* .expenses-list {
  margin-left:25%;
  display:flex;
  flex-direction:column;
  align-items:flex-end;
  margin-top:2em;
} 
.expenses-list {
  margin-top:5em;
}
.sort-header {
  position:fixed;
  z-index:2;
  height:3em;
  width:100%;
  background-color:rgb(255,255,255);
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
}
.expense {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;

}
.expense-card {
  display:flex;
  z-index:1;
  justify-content:flex-start;
  align-items:center;
  width:80%;
  max-width:80%;
  height:5em;
  margin:auto;
  margin-top:0;
  margin-bottom:1em;
  padding:3em;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  border-radius:100px;
  background-color: rgb(255,255,255)
}
.date {
  position:relative;
  width:13%;
  height:2em;
  margin-bottom:0;
  font-style: italic;
  display:flex;
  justify-content:center;
  align-items:center;
  max-height:1.5em;
  background-color:rgb(245, 245, 245);
  color:rgb(117, 193, 148);
  border-radius:5px;
  padding:0.3em;
}

.nature, .comment {
  position:relative;
  width:40%;
}
.nature {
  text-transform: uppercase;
  font-weight: 600;
}
.comment {
  color:rgb(125,125,125);
}
.amount-currency, .converted-amount-currency {
  width:14%;
}
.amount {
  font-size:16px;
  font-weight: 600;
} */
.expenses-list {
  z-index:3;
  display:block;
  width:100%;
  height:100%;
}
.expense {
  z-index:3;
  width:100%;
  cursor:pointer;
}
.expense::after {
  display:block;
  position:absolute;
  content:"";
  width:70%;
  height:1px;
  background-color:rgb(177, 177, 177);
  margin-left:15%;
  margin-right:15%;
}
.expense-content {
  display:flex;
  flex-direction:row;
  width:100%;
}
.nature-comment {
  width:70%;
  padding-left:5vw;
}
.nature, .comment {
  width:100%;
}
.nature {
  text-transform: uppercase;
  font-weight: 600;
}
.comment {
  color:rgb(125,125,125);
}
.date-amount {
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  width:30%;
  padding-right:5vw
}
.date {
  color:RGB(117, 193, 148);
}
.converted-amount-currency .amount{
  font-weight: 600;
}
.details {
  z-index:0;
}





@media screen and (max-width: 1000px) {
}
 
