.main-content {
  position:relative;
  top: 7.8em;
  overflow-y: scroll;
}
.creation-form {
  z-index:8;
  position:fixed;
  top:8em;
  align-content: center;
  height:60vh;
  width:100%;
}
.expenses-list {
  z-index:2;
  display:block;
  width:100%;
  height:100%;
}
.expense {
  z-index:1;
  width:100%;
  cursor:pointer;
}
.expense::after {
  display:block;
  position:absolute;
  content:"";
  width:70%;
  height:1px;
  background-color:rgb(177, 177, 177);
  margin-left:15%;
  margin-right:15%;
}
.expense-content {
  display:flex;
  flex-direction:row;
  width:100%;
}
.nature-comment {
  width:70%;
  padding-left:5vw;
}
.nature, .comment {
  width:100%;
}
.nature {
  text-transform: uppercase;
  font-weight: 600;
}
.comment {
  color:rgb(125,125,125);
}
.date-amount {
  display:flex;
  flex-direction:column;
  align-items: flex-end;
  width:30%;
  padding-right:5vw
}
.date {
  color:RGB(117, 193, 148);
}
.converted-amount-currency .amount{
  font-weight: 600;
}
.details {
  z-index:8;
  position:fixed;
  top:8em;
  align-content: center;
  height:60vh;
  width:100%;
}
.creation-button {
  position:fixed;
  bottom:2em;
  right:3em;
}


@media screen and (max-width: 800px) {
  .details {
    height:83vh;
  }
  .creation-form {
    height:83vh;
  }
}
 
