.topnav {
  position:fixed;
  z-index:10;
  top:0;
  margin-top:0;
  background-color:rgb(117, 193, 148);
  width:100%;
  height:8em;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.12);
}
h3 {
  color:white;
  padding-left:0.5em;
  font-size:26px;
  font-stretch: semi-expanded;
  margin-bottom:16px;
}
.sort-header {
  display:flex;
  flex-direction:row;
  width:100%;
  justify-content:flex-end;
  padding-bottom:3em;
}
.fa-sliders-h {
  color:white;
  font-size:30px;
  margin-right:1em;
  cursor:pointer;
}
.fa-sliders-h:hover {
  position:relative;
  top:1px;
  color:rgb(255, 191, 23);
}
.sort-expenses-header {
  z-index:6;
  position:fixed;
  background-color:rgb(117, 193, 148);
  top:8em;
  height:4em;
  width:100%;
  box-shadow: 0 2px 2px 2px rgba(0,0,0,.12);
  display:flex;
  flex-direction:row;
  align-items:center;
}
.sort-expenses-header p {
  color:white;
  padding-left:0.5em;
  padding-top:0.5em;
  text-transform:uppercase;
  font-weight:600;
  width:20%;
}
.settings {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:77%;
  padding-left:0;
}
label {
  font-size:14px;
  color:white;
}
.order-by, .expenses-per-page {
  text-align:center;
  width:30%;
  margin:0;
  padding-top:0.5em;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius:5px 5px 5px 5px;
  color: RGB(70,70,70);
  font-weight:600;
  background-color:RGB(225,225,225);
  font-family: 'Roboto';
  border: none;
  height:2em;
  margin-bottom:1em;
  text-align:center;
}
select::-ms-expand {
  border-radius:10px;
}

