.form {
  z-index:5; 
  width:100%;
  height:100%;
  align-content: center;
  text-align:center;
  overflow: hidden;
  background-color:rgb(132, 211, 163);
  margin-bottom:2em;
  cursor:default;
}
/* background-color:rgb(190, 220, 202); */
.form-content {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1em;
  padding-top:0;
}
.left-part {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:50%;
}
.right-part {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:40%;
}
.buttons {
  display:flex;
  justify-content:space-around;
}
.close {
  position:relative;
  z-index:4;
  display:flex;
  justify-content:flex-end;
  right:1em;
  top:0;
  width:100%;
  margin-bottom:-3em;
  text-align:end;
}
.close .fa-times {
  font-size:36px;
  color:white;
  padding-top:0.25em;
  cursor:pointer;
}
.close .fa-times:hover {
  color:rgb(255, 191, 23);
}
.error {
  color:red;
  padding-top:2em;
}
h3 {
  text-transform: uppercase;
  color:white;
  font-weight:900;
  font-size:30px;
}
label {
  text-transform:uppercase;
  font-size:14px;
  font-weight: 600;
  color:rgb(240,240,240);
}
input, textarea {
  border-radius:5px 5px 5px 5px;
  color: RGB(70,70,70);
  background-color:RGB(225,225,225);
  font-family: 'Roboto';
  font-size:17px;
  font-weight:600;
  border: none;
  height:2.5em;
  margin-bottom:1em;
  text-align:center;
}
textarea {
  height: 6em;
  width: 26em;
}
.converted-amount{
  border-radius:5px 5px 5px 5px;
  color: RGB(70,70,70);
  background-color:RGB(225,225,225);
  font-family: 'Roboto';
  font-size:18px;
  font-weight:600;
  border: none;
  height:2em;
  width:8em;
  margin:auto;
  margin-bottom:1em;
  margin-top:0;
  padding-top:1em;
  padding-left:1em;
  padding-right:1em;
  text-align:center;
}
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius:5px 5px 5px 5px;
  color: RGB(70,70,70);
  font-weight:600;
  background-color:RGB(225,225,225);
  font-family: 'Roboto';
  border: none;
  height:2em;
  margin-bottom:1em;
  text-align:center;
}
select::-ms-expand {
  border-radius:10px;
}
input[type=textarea] {
  width: 26em;
  height: 6em;
}
input[type=text] {
  width: 26em;
}
input[type=date] {
  width:10em;
}
input[type=number] {
  width:15em;
  -moz-appearance:textfield;
}
@media screen and (max-width:600px) {
  textarea {
    width: 10em;
    height: 6em;
    padding-left:1em;
  }
  input[type=text] {
    width:10em;
    padding-left:1em;
  }

  input[type=number] {
    width:8em;
    -moz-appearance:textfield;
  }
  input[type=date] {
    width:8em;
  }
  label {
    font-size:12px;
  }
}