
<div class='form'>
  <!--Icon to close form-->
  <div class='close'>
    <i class='fas fa-times'(click)='closeForm()'></i>
  </div>
  <!--Title and long title for large devices-->
  <h3>{{formTitle | translate}}<span class='long-title'> {{'creationLongTitle' | translate}}</span></h3>

  <div class='form-content'>
    <div class='left-part'>
      
      <label>{{'expenseNature' | translate}}</label>
      <input
      name="expenseNature"
      type="text"
      maxlength='120'
      [(ngModel)]="expenseNature"
      (ngModelChange)='onInputChange()'
      placeholder='Voyage, Restaurant ...'/>

      <label>{{'expenseComment' | translate}}</label>
      <textarea
      name="expenseComment" 
      ows='3' maxlength='600'
      [(ngModel)]="expenseComment"
      (ngModelChange)='onInputChange()'
      placeholder='Séminaire à Londres ...'>
      </textarea>
    </div>

    <div class='right-part'>

      <label>{{'expenseDate' | translate}}</label>
      <input
      class='date'
      name="expenseDate"
      type="date"
      [(ngModel)]="expenseDate"
      (ngModelChange)='onInputChange()'/>

      <label>{{'expenseOriginalAmount' | translate}}</label>
      <input
      class='number-input'
      name="expenseOriginalAmount"
      type="number"
      [(ngModel)]="expenseOriginalAmount"
      (ngModelChange)='onAmountInputChange()'
      placeholder='Montant dépense'/>

      <label>{{'expenseCurrency' | translate}}</label>
      <select
      name="expenseOriginalAmountCurrency"
      type="select"
      [(ngModel)]="expenseOriginalAmountCurrency"
      (ngModelChange)='onAmountInputChange()'
      placeholder='EUR'>
        <option value='EUR'>EUR</option>
        <option value='CHF'>CHF</option>
        <option value='GBP'>GBP</option>
        <option value='USD'>USD</option>
      </select>
    </div>
  </div>

  <!--Show converted amount in euros-->
  <label >{{'expenseConvertedAmount' | translate}}</label>
  <p class='converted-amount' >
    <span *ngIf='isConversionDone' class='convertedAmount'>{{expenseConvertedAmount}} {{expenseConvertedAmountCurrency}}</span>
    <span *ngIf='isConversionLoading'><app-spinner></app-spinner></span>
  </p>

  <div class ='buttons'>
    <app-styled-button [roundButton]='false' [buttonSave]='true' [disabled]='isButtonDisabled' (click)='onSubmit()'></app-styled-button>
    <app-styled-button *ngIf='showDeleteButton' [roundButton]='false' [buttonSave]='false' [disabled]='false' (click)='handleDelete()'></app-styled-button>
  </div>
    <!--Inform if error-->
    <div *ngIf='error' class='error'>{{'formError' | translate}}</div>
</div>